.feature-box {
    background-color: rgba($color-white, $alpha: .9);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5 4rem rgba($color-black, $alpha: .15);
    transition: all .4s;
    
    &__icon{
        display: inline-block;
        background: linear-gradient(to right, 
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8));
        -webkit-background-clip: text;
        color: transparent;

        margin-bottom: .5rem;
        font-size: 6rem;
    }

    &:hover {
        transform: translateY(-2rem) scale(1.02);
    }
}